<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <!-- <img src="/assets/images/competition-avatar.svg" height="60" width="60" alt=""> -->
        <!-- <img src="assets/images/user.svg" width="200px" class="user-avatar align-center" /> -->
        <div *ngIf="auth.user | async as user" class="align-center profile-photo">
            <img src="{{ user.photoURL }}" width="200px" class="user-avatar align-center" />
        </div>                
        
        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>{{ 'My Profile' | translate }}
        </a>
        <a [routerLink]="['/evaluaciones']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-text"></i>{{ 'Evaluations' | translate }}
        </a>
        <a [routerLink]="['/agenda']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-calendar"></i>{{ 'Diary' | translate }}
        </a>
        <a [routerLink]="['/mensajes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-comment"></i>{{ 'Messages' | translate }}
        </a>
        <a href="#" (click)="logout()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-sign-out"></i>{{ 'Logout' | translate }}
        </a>
        <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>{{ 'Dashboard' | translate }}
        </a> -->
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>{{ 'Component' | translate }}
        </a> -->
    </ul>
</nav>
