<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <!-- <img src="/assets/images/competition-avatar.svg" height="60" width="60" alt=""> -->
        <img src="assets/images/user.svg" width="200px" class="user-avatar align-center" />
        
        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;{{ 'Profile' | translate }}
        </a>
        <a [routerLink]="['/evaluaciones']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-text"></i>&nbsp;{{ 'Evaluations' | translate }}
        </a>
        <a [routerLink]="['/agenda']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-calendar"></i>&nbsp;{{ 'Diary' | translate }}
        </a>
        <a [routerLink]="['/mensajes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-comment"></i>&nbsp;{{ 'Messages' | translate }}
        </a>
        <!-- <a [routerLink]="['/chat']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-comments"></i>&nbsp;{{ 'Chat' | translate }}
        </a>
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a> -->
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a> -->
    </ul>
</nav>
