<div [@routerTransition] class="container ficha">
  <h1>
    <p class="text-center">Ficha de Evaluación</p>
  </h1>
  <div class="row">
    <div class="col text-center">
      <div class="form-group row">
        <label class="col-2 col-form-label">Fecha</label>
        <div class="col-10">
          <input class="form-control" type="date" value="2011-08-19" id="fecha">
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="form-group row">
        <label class="col-2 col-form-label">Edad</label>
        <div class="col-10">
          <input class="form-control" type="number" id="edad">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <p>
      <strong>Datos que debe entregar el alumno con las fotos</strong> (El entrenador proporciona los datos para el alumno presencial)
    </p>
  </div>

  <div class="card card-padding">
    <div class="card-block">
      <div class="row">
        <div class="col-md-5">
          <label class="sr-only" for="inlineFormInputGroup"></label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Altura</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <label class="sr-only" for="inlineFormInputGroup"></label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Peso</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <br>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">% grasa</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">% músculo</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-block card-block-nopadding">
              <p class="text-center">
                <b>Mediciones de diámetros (cm)</b>
              </p>
            </div>
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Cintura</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Cadera</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Brazos</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Muslo</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Glúteos (mujeres)</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
        </div>
      </div>
    </div>
    <p> *Proporcionado por el alumno “online” que tenga acceso a báscula de bioimpedancia. Dejar en blanco de no ser posible.</p>
  </div>
  <!-- fin card-block -->

  <br>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="http://via.placeholder.com/100x150" class="card-img-bottom">
      </div>
      <div class="card-img-overlay">
        <h4 class="card-title text-center">Foto frontal</h4>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="http://via.placeholder.com/100x150" class="card-img-bottom">
        <div class="card-img-overlay">
          <h4 class="card-title text-center">Foto lateral</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="http://via.placeholder.com/100x150" class="card-img-bottom">
        <div class="card-img-overlay">
          <h4 class="card-title text-center">Foto posterior</h4>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <p>
      <strong>Información proporcionada por el entrenador</strong>
    </p>
  </div>

  <div class="card card-padding">
    <div class="card-block">
      <div class="row">
        <div class="col-md-4">
          <label class="sr-only" for="inlineFormInputGroup"></label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">IMC</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <br>
          <br>
          <div class="card">
            <div class="card-block card-block-nopadding">
              <p class="text-center">
                <b>Medicion de pliegues</b>
                <br>
                <b>(mm) lipocalibre</b>
              </p>
            </div>
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Bicipital</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Tricipital</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Subescapular</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Suprailiaco</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Muslo</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Abdominal</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Pectoral</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Axilar</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Pierna</div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">
              <strong>% de grasa</strong>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup">
          </div>
          <br>
          <p>* Alumno presencial</p>
        </div>
        <div class="col-md-8">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p>
            <strong>Observaciones</strong> (Análisis de los valores y fotografías, recomendaciones)
          </p>
          <textarea class="form-control" id="exampleTextarea" rows="9"></textarea>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button class="btn btn-success pull-right">Guardar ficha</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<br>
<br>
<br>
<br>
<br>
<div>
  <div [@routerTransition] class="container ficha">
    <h1>
      <p class="text-center">Plan Nutricional</p>
    </h1>
    <div class="row">
      <div class="col text-center">
        <div class="form-group row">
          <label class="col-2 col-form-label">Fecha</label>
          <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="fecha">
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="form-group row">
          <label class="col-2 col-form-label">Calorías</label>
          <div class="col-10">
            <input class="form-control" type="number" id="edad">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <p>
        <strong>Información proporcionada por el entrenador</strong>
      </p>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Alergia alimenticia: </div>
        <input type="text" class="form-control" id="inlineFormInputGroup">
      </div>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Alimentos que no consuma: </div>
        <input type="text" class="form-control" id="inlineFormInputGroup">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="card">
        <div class="card-header">
          DESAYUNO - 8:00 Hrs
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>Alimentos</th>
                <th>Cantidad</th>
                <th>Calorías totales</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          MEDIA MAÑANA (SNACK) - 10:00 Hrs
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>Alimentos</th>
                <th>Cantidad</th>
                <th>Calorías totales</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          ALMUERZO - 13:00 Hrs
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>Alimentos</th>
                <th>Cantidad</th>
                <th>Calorías totales</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          MEDIA TARDE (SNACK) - 16:00 Hrs
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>Alimentos</th>
                <th>Cantidad</th>
                <th>Calorías totales</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          CENA - 20:00 Hrs
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>Alimentos</th>
                <th>Cantidad</th>
                <th>Calorías totales</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <p>
        <strong>ALIMENTOS PROHIBIDOS:</strong> 
      </p>
      <textarea class="form-control" id="exampleTextarea" rows="9"></textarea>
    </div>
    <br>
    <div class="row">        
      <p>
        <strong>OBSERVACIONES/RECOMENDACIONES/SUPLEMENTACIÓN SUGERIDA:</strong>
      </p>
      <textarea class="form-control" id="exampleTextarea" rows="9"></textarea>
    </div>
    <div class="row pull-right">        
      <button class="btn btn-success">Guardar Plan Nutricional</button>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div [@routerTransition] class="container ficha">
    <h1>
      <p class="text-center">Programa de Entrenamiento</p>
    </h1>
  
    <div class="row">
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon" style="width:243px">Fecha entrega rutina (dd/mm): </div>
        <input type="number" class="form-control" id="inlineFormInputGroup">
      </div>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon" style="width:243px">Fecha evaluación: </div>
        <input type="number" class="form-control" id="inlineFormInputGroup">
      </div>
    </div>
  
    <br>
    <div class="row">
      <p>
        <strong>Objetivos:</strong> 
      </p>
      <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
    </div>
    
    <br>
    <div class="row">
    <div class="card">
      <div class="card-header">
        Calentamiento físico
      </div>
      <div class="card-block">
        <table class="table table-bordered table-inverse">
          <tbody>
            <tr>
              <td>Ejercicio:</td>
              <td><input type="text" class="form-control input-sm" ></td>
              <td><input type="text" class="form-control input-sm" ></td>
              <td><input type="text" class="form-control input-sm" ></td>
            </tr>
            <tr>
              <td>Minutos:</td>
              <td><input type="text" class="form-control input-sm" ></td>
              <td><input type="text" class="form-control input-sm" ></td>
              <td><input type="text" class="form-control input-sm" ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    
    <br>
    <div class="row">
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    
    <br>
    <div class="row">
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    
    <br>
    <div class="row">
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Ejercicio: 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-inverse">
            <tbody>
              <tr>
                <td>Ejercicio:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Minutos:</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    
    
    <br>
    <div class="row">
    <div class="card">
      <div class="card-header">
        Enfriamiento
      </div>
      <div class="card-block">
        <table class="table table-bordered table-inverse">
          <tbody>
            <tr>
              <td>Ejercicio:</td>
              <td><input type="text" class="form-control input-sm" ></td>
              <td><input type="text" class="form-control input-sm" ></td>
              <td><input type="text" class="form-control input-sm" ></td>
            </tr>
            <tr>
              <td>Minutos:</td>
              <td><input type="text" class="form-control input-sm" ></td>
              <td><input type="text" class="form-control input-sm" ></td>
              <td><input type="text" class="form-control input-sm" ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>

    <button class="btn btn-success pull-right">Guardar Programa Entrenamiento</button>
    
    <br>
  </div>