<p>
  evaluaciones!
</p>
<ul>
  <li>Alumno: se desglosa en:</li>
  <li>
    <strong>«evaluación física»</strong> : se ve el historial de las evaluaciones que se le ha realizado, con todos los resultados
    bien detallados </li>
  <li>
    <strong>«nutrición»</strong> : accede al plan nutricional que se le ha creado, los suplementos recomendados, los tips, todo lo
    relacionado con la alimentación respectiva a su plan Le llega una notificación cuando el profesor le manda la información
  </li>
  <li>_____________________________________________</li>
  <li>
    <strong>Entrenador</strong>: se desglosa en: - listado de sus alumnos por orden alfabético y tiene la facilidad de pinchar en
    el link del alumno al cual quiere enviarle la información</li>
</ul>