<div class="profile">
  <h1 class="page-header">{{ model.nombre }}</h1>
  <div class="row">
    <div class="col-4">
      <img class="img-thumbnail" alt="Foto de perfil" src="{{ model.urlFotoPerfil }}">
    </div>
    <div class="col-8">
      <ul>
        <li>
          <strong>{{ 'Name' | translate }} : </strong>{{ model.nombre }}</li>
        <li>
          <strong>{{ 'Email' | translate }} : </strong>{{ model.email }}</li>
        <li>
          <strong>{{ 'City' | translate }} : </strong>{{ model.ciudad }}</li>
        <li>
          <strong>{{ 'State' | translate }} : </strong>{{ model.pais }}</li>
        <li>
          <strong>{{ 'Gender' | translate }} : </strong>{{ model.genero }}</li>
        <li>
          <strong>{{ 'Age' | translate }} : </strong>{{ model.edad }}</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            {{ 'Post to wall' | translate }}
        </div>
        <div class="card-block">
          <div class="form-group">
            <textarea class="form-control" placeholder=""></textarea>
          </div>
          <button type="submit" class="btn btn-primary">{{ 'Post' | translate }}</button>
          <div class="float-right">
            <div class="btn-toolbar">
              <button type="button" class="btn btn-secondary">
                <i class="fa fa-pencil"></i>{{ 'Text' | translate }}</button>
              <button type="button" class="btn btn-secondary">
                <i class="fa fa-file-image-o"></i>{{ 'Image' | translate }}</button>
              <button type="button" class="btn btn-secondary">
                <i class="fa fa-file-video-o"></i>{{ 'Video' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>