<div [@routerTransition]>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'My Profile' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="alert alert-info">
            <strong>{{ 'My Profile' | translate }}</strong>
        </div>
        <app-my-profile-post></app-my-profile-post>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'News feed' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="alert alert-info">
          <strong>Feed de 'mis contactos'</strong> publicaciones de mis amigos alumnos y entrenadores, publicidad, novedades, descuentos, noticias mundo fitness.
        </div>
          <app-post *ngFor="let post of posts | async" 
          [usuarioAvatar]="post.photoURL"
          [usuarioPost]="post.displayName"
          [usuarioPostId]="post.uid"
          [postTexto]="post.content"
          [comentarios]="post.comentarios"></app-post>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'Trainers' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="alert alert-info">
          <strong>lista de entrenadores. </strong> Permite buscar entrenadores de la zona, ver sus perfiles.
        </div>
        <!-- el pipe | async hace la magia!! -->
        <app-listado-usuarios [listado]="users | async" [tipo]="profes" [botones]="'110'"></app-listado-usuarios>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
          <b>{{ 'Alumnos' | translate }}</b>
        </ng-template>
        <ng-template ngbTabContent>
          <br>
          <div class="alert alert-info">
            <strong>lista de alumnos. </strong> Permite buscar alumnos.
          </div>
          <!-- el pipe | async hace la magia!! -->
          <app-listado-usuarios [listado]="users | async" [tipo]="alumnos" [botones]="'110'"></app-listado-usuarios>
        </ng-template>
      </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'Gym' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="alert alert-info">
          <strong>lista de gimnasios. </strong> Permite buscar gimnasios de la zona, ver sus precios, calendario de actividades. + info útil para los alumnos.
        </div>
        <app-listado-usuarios [listado]="gimnasios" [tipo]="gym" [botones]="'110'"></app-listado-usuarios>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'Shop' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
          <br>
          <div class="alert alert-info">
            <strong>lista de tiendas. </strong> Buscar tiendas de ropa o suplementos y ver sus productos.
          </div>
          <app-listado-usuarios [listado]="gimnasios" [tipo]="tiendas" [botones]="'110'"></app-listado-usuarios>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>    