<div [@routerTransition]>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'My Profile' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="alert alert-info">
            <strong>{{ 'My Profile' | translate }}</strong>
        </div>
        <app-my-profile-post></app-my-profile-post>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'News feed' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="alert alert-info">
          <strong>Feed de 'mis contactos'</strong> publicaciones de mis amigos alumnos y entrenadores, publicidad, novedades, descuentos, noticias mundo fitness.
        </div>
        <app-post *ngFor="let post of posts" 
        [usuarioAvatar]="post.usuarioAvatar"
        [usuarioPost]="post.usuarioPost"
        [postTexto]="post.postTexto"
        [comentarios]="post.comentarios"></app-post>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'Trainers' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="alert alert-info">
          <strong>lista de entrenadores. </strong> Permite buscar entrenadores de la zona, ver sus perfiles.
        </div>
        <app-listado-usuarios [listado]="usuarios" [botones]="'111'"></app-listado-usuarios>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'Gym' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="alert alert-info">
          <strong>lista de gimnasios. </strong> Permite buscar gimnasios de la zona, ver sus precios, calendario de actividades. + info útil para los alumnos.
        </div>
        <app-listado-usuarios [listado]="gimnasios" [botones]="'110'"></app-listado-usuarios>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>{{ 'Shop' | translate }}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <p>feed de tiendas y su publicidad/ofertas de ropa y suplementos</p>
        <p>- poder buscar una tienda, ver sus productos, comprar online</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>    