<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Focus Pride</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="1" value="mario@focuspride.com" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="2" value="123456" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/profile']" (click)="auth.emailPassLogin('mario@focuspride.com', '123456')"> Iniciar sesión </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Registrarse</a>
                <br>
                <a class="btn rounded-btn" [routerLink]="['/profile']" (click)="auth.googleLogin()"> <i class="fa fa-google"></i> Login con Google </a>
                <a class="btn rounded-btn" [routerLink]="['/profile']" (click)="auth.facebookLogin()"> <i class="fa fa-facebook"></i> Login con Facebook </a>
            </form>
        </div>

    </div>
    <div class="col-md-4 push-md-4 invisible">
        <div *ngIf="auth.user | async; then authenticated else guest">
            <!-- template will replace this div -->
        </div>
        <!-- User NOT logged in -->
        <ng-template #guest>
            <h3>Hola, Invitado</h3>
            <p>Inicia sesión para comenzar...</p>
        
            <button (click)="auth.emailPassLogin('mario@focuspride.com', '123456')">
                <i class="fa fa-email"></i> Login con mario@focuspride.com/123456
            </button>
        
        </ng-template>
        <!-- User logged in -->
        <ng-template #authenticated>
            <div *ngIf="auth.user | async as user">
                <h3>Bienvenido, {{ user.displayName }}</h3>
                <img [src]="user.photoURL">
                <!-- <p>UID: {{ user.uid }}</p> -->
                <button (click)="auth.signOut()">Logout</button>
            </div>
        </ng-template>
    </div>
</div>
{{ users }}